<mat-table cdk-table-virtual-scroll-fixed-size #tvs=cdkTableVirtualScrollFixedSize
           matSort
           [dataSource]="dataSource">

    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef>checkbox</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="element.check" (change)="element.check = $event.checked"></mat-checkbox>
            <ng-container *ngIf="element.check">bau</ng-container>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>c f</mat-footer-cell>
    </ng-container>

    <ng-container *ngFor="let i of columnProcess(columnCount)">
        <ng-container [matColumnDef]="'column' + i">
            <mat-header-cell mat-sort-header
                    *matHeaderCellDef>Column {{i}}</mat-header-cell>
            <mat-cell
                    *matCellDef="let element">{{element['column' + i]}}</mat-cell>
            <mat-footer-cell
                    *matFooterCellDef>Footer {{i}}</mat-footer-cell>
        </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
</mat-table>

<button (click)="tvs.scrollIntoView(dataSource.data[283])">ScrollIntoView</button>